#outer {
    max-width: 500px;
    margin: auto;
    padding: 35px;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
}

#note {
    padding: 20px;
}

#del {
    padding-top: 40px;
}

#regst {
    padding-top: 10px;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0%;
    width: 100%;
    margin-bottom: 1em;
}