{% extends "notes/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Confirm Deletion
{% endblock %}

{% block body %}
<div id="del">
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}" note?</p>
        {{ form|crispy }}
        <input type="submit" value="Yes" class="btn btn-danger">
        <input type="button" class="btn btn-secondary" value="Cancel"
            onclick="location.href = '{% url 'notes:detail' note.pk %}'; return false;">
    </form>
</div>
{% endblock %}