{% extends "notes/base.html" %}

{% block title %} {{ note.title }}
{% endblock %}

{% block body %}
<a href="{% url 'notes:list' %}">
    << All Notes</a>
        <div id="note">
            <p><a href="{% url 'notes:update' note.pk %}">Edit</a> |
                <a href="{% url 'notes:delete' note.pk %}">Delete</a>
            </p>
            <h2>
                {{ note.title }}
            </h2>
            {% if note.link %}
            <p>
                <a href="{{ note.link }}">{{ note.link }}</a>
            </p>
            {% endif %}
            {{ note.body|linebreaksbr|urlize }}
        </div>
        {% endblock %}